{deps, [
        grisp,
        {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
       ]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "21.0"}
    ]},
    {deploy, [
                   {pre_script, "rm -rf /Volumes/GRISP/*"},
                   {destination, "/Volumes/GRISP"},
                   {post_script, "diskutil unmount /Volumes/GRISP"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {rolnik, "0.1.0"}, [rolnik]}
]}.
