{deps, [
    {grisp, {git, "git://github.com/grisp/grisp.git"}},
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
    {gen_smtp, ".*", {git, "https://github.com/Vagabond/gen_smtp.git", "master"}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "20.2"}
    ]},
    {deploy, [
        {pre_script, "rm -rf /run/media/seb/GRISP/*"},
        {destination, "/run/media/seb/GRISP"},
        {post_script, "umount /run/media/seb/GRISP"}
    ]},
    {toolchain, [
        {root, "/home/seb/GRiSP/grisp-software/rtems-install/rtems-4.12"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release,
        {rolnik, "0.1.0"},
        [{epmd, none}, gen_smtp, rolnik],
        [{sys_config, "./config/sys.config"}]}
]}.


{profiles, [
    {test, [
        {shell, [{apps, [rolnik]},
            {config, "config/test.config"}
        ]}
    ]}
]}.

