{deps, [
    {grisp, {git, "git://github.com/grisp/grisp.git"}}
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "20.2"}
    ]},
    {deploy, [
        {destination, "/tmp/sd_card"}
    ]},
    {toolchain, [
        {root, "/Users/michalslaski/dev/GRiSP/grisp-software/rtems-install/rtems-4.12"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {rolnik, "0.1.0"}, [rolnik]}
]}.
