[
 {rolnik, [
           {lower_limit, 5},
           {upper_limit, 30},
           {temp_check_freq, 1000},
           {checks_per_sample, 60},
           {normal_status_return_limit, 0.5},
           {smtp_config, [
                          {relay, {192,168,0,111}},
                          {ssl, true},
                          {username, "login@mail.com"},
                          {password, "mailpassword"}
                         ]},
           {alarm_sender_email, "login@mail.com"},
           {alarm_receiver_email, "receiveremail@mail.com"}
          ]}
].